flows.json
[{"id":"af8027d8.337918","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fc160bcf.e5e6e8","type":"watson-conversation-v1","z":"af8027d8.337918","name":"assistant","workspaceid":"27f01aa1-5fe2-4cb1-a1d8-24e763dd1ef8","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/63afbf5d-6ce7-48fb-bb04-d55e1dbc5c28","timeout":"","optout-learning":false,"x":300,"y":120,"wires":[["d9c72a03.bd54d8"]]},{"id":"8f105149.539e4","type":"inject","z":"af8027d8.337918","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":90,"y":60,"wires":[["fc160bcf.e5e6e8"]]},{"id":"f89b7b42.659bf8","type":"debug","z":"af8027d8.337918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":100,"wires":[]},{"id":"d9c72a03.bd54d8","type":"function","z":"af8027d8.337918","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":200,"wires":[["f89b7b42.659bf8","d5237e3e.98037"]]},{"id":"9f46032e.93365","type":"ui_form","z":"af8027d8.337918","name":"","label":"","group":"e7dafae8.98f2b8","order":3,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["1e2f6bbd.1b0074"]]},{"id":"1e2f6bbd.1b0074","type":"function","z":"af8027d8.337918","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":240,"wires":[["fc160bcf.e5e6e8","fd6d5a45.bb0ec8"]]},{"id":"fd6d5a45.bb0ec8","type":"ui_text","z":"af8027d8.337918","group":"e7dafae8.98f2b8","order":4,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":390,"y":340,"wires":[]},{"id":"d5237e3e.98037","type":"ui_text","z":"af8027d8.337918","group":"e7dafae8.98f2b8","order":5,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":610,"y":280,"wires":[]},{"id":"e7dafae8.98f2b8","type":"ui_group","z":"","name":"movie ticket","tab":"7e2edf3e.522d6","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e2edf3e.522d6","type":"ui_tab","z":"","name":"movie ticket","icon":"dashboard","disabled":false,"hidden":false}]